.code-box-wr .code-display {
  font-family: monospace;
  font-size: 14;
  line-height: 1.23;
}

.code-box-wr .code-box-title .date, .code-box-wr .code-box-title .description, .code-box-wr .parameters-list li strong, .code-box-wr .parameters-list li span, .code-box-wr .parameters-list li ins, footer[role=contentinfo] .footer-links li, footer[role=contentinfo] .footer-links li a {
  display: inline-block;
  vertical-align: middle;
}

.code-box-wr .code-box-parameters-wr, .code-box-wr .code-box-parameters {
  display: inline-block;
  vertical-align: top;
}

header[role=banner] img, header[role=banner] div {
  display: inline-block;
  vertical-align: bottom;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  text-decoration: underline;
}

header[role=banner] {
  padding: 12px;
  font-size: 0px;
  line-height: 0px;
}
header[role=banner] img {
  padding-right: 24px;
  border-right: 1px silver solid;
}
header[role=banner] div {
  font-size: 26px;
  line-height: 31.98px;
  padding-left: 24px;
}

main[role=main],
#main {
  margin: 0;
  padding: 12px;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}

.code-box-wr {
  margin-top: 24px;
  margin-bottom: 36px;
  padding-top: 36px;
  border-top: 3px black dotted;
  font-size: 0px;
  line-height: 0px;
}
.code-box-wr:first-child {
  margin-top: 12px;
  padding-top: 0;
  border-top: none;
}
.code-box-wr .code-box-title {
  margin: 0 0 12px;
  padding: 12px;
  background-color: black;
  color: white;
}
.code-box-wr .code-box-title .date {
  padding-right: 12px;
  font-size: 12px;
  line-height: 14.76px;
  border-right: 1px silver solid;
}
.code-box-wr .code-box-title .description {
  padding-left: 12px;
  font-size: 14px;
  line-height: 17.22px;
}
.code-box-wr .code-box-parameters-wr {
  width: 100%;
  text-align: center;
}
.code-box-wr .code-box-parameters {
  position: relative;
  width: 100%%;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  text-align: left;
}
.code-box-wr .code-box-inner-title {
  margin-bottom: 12px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 17.22px;
  font-weight: bold;
  border-bottom: 1px silver dashed;
}
.code-box-wr .code-box-inner-title[data-accordion=true] {
  cursor: pointer;
}
.code-box-wr .code-box-inner-title[data-accordion=true]:after {
  content: 'click to show/hide settings';
  padding-left: 12px;
  font-size: 12px;
  line-height: 14.76px;
  font-weight: normal;
  color: silver;
}
.code-box-wr .parameters-list {
  display: none;
  list-style-type: none;
  margin: 0 0 12px 0;
  padding: 0;
}
.code-box-wr .parameters-list li strong {
  min-width: 160px;
  font-size: 12px;
  line-height: 14.76px;
}
.code-box-wr .parameters-list li span {
  margin-left: 24px;
  font-size: 12px;
  line-height: 14.76px;
}
.code-box-wr .parameters-list li span:before {
  content: ":";
  position: relative;
  left: -6px;
}
.code-box-wr .parameters-list li ins {
  margin-left: 6px;
  font-size: 12px;
  line-height: 14.76px;
  text-decoration: none;
}
.code-box-wr .parameters-list li ins:before {
  content: "#" "{";
  position: relative;
  left: -6px;
  color: silver;
  font-size: 12px;
  line-height: 14.76px;
  font-weight: normal;
}
.code-box-wr .parameters-list li ins:after {
  content: "}";
  position: relative;
  right: -6px;
  color: silver;
  font-size: 12px;
  line-height: 14.76px;
  font-weight: normal;
}
.code-box-wr .code-display {
  width: 100%;
  padding: 12;
  white-space: pre-wrap;
  background-color: #f9f9f9;
  border: 1px silver solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
}
.code-box-wr .code-display.correct {
  min-height: 250px;
}
.code-box-wr .code-display.error {
  min-height: 70px;
  color: #aa0000;
}

footer[role=contentinfo] {
  padding: 12px;
  text-align: center;
  font-size: 0px;
  line-height: 0px;
}
footer[role=contentinfo] .footer-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer[role=contentinfo] .footer-links li {
  margin: 0;
  padding: 0;
  border-left: 1px silver solid;
}
footer[role=contentinfo] .footer-links li:first-child {
  border-left: none;
}
footer[role=contentinfo] .footer-links li a {
  margin: 0;
  padding: 0 6px;
  font-size: 12px;
  line-height: 14.76px;
  color: #5c5c5c;
}

@media screen and (min-width: 1024px) {
  main[role=main] .code-box-parameters,
  #main .code-box-parameters {
    width: 32.5%;
  }
  main[role=main] .code-box-parameters:nth-child(2),
  #main .code-box-parameters:nth-child(2) {
    margin: 0 0.75%;
    padding: 0 0.75%;
    border-left: 1px silver dashed;
    border-right: 1px silver dashed;
  }
}
