@import "mixins";

// ==========================================================================
// General classes
// ==========================================================================

%arial {
  font-family: $arial;
  font-size: $main-font-size;
  line-height: $main-line-height;
}

%code {
  font-family: $code;
  font-size: $code-font-size;
  line-height: $code-line-height;
}


// ==========================================================================
// Helper classes
// ==========================================================================

// Image replacement

%ir {
    overflow: hidden;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
    &::before {
      content: "";
      display: block;
      width: 0;
      height: 150%;
  }
}

// Image replacement with graphic label [ without image url ]

%graphic-label {
  @extend %ir;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
}


// Hide from both screenreaders and browsers: h5bp.com/u

%hidden {
    display: none !important;
    visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v

%visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


// Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p

%visuallyhidden.focusable:active,
%visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


// Hide visually and from screenreaders, but maintain layout


%invisible {
    visibility: hidden;
}


// Clearfix: contain floats

// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    `contenteditable` attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that receive the `clearfix` class.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.

%clearfix:before,
%clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

%clearfix:after {
    clear: both;
}

// For IE 6/7 only
// Include this rule to trigger hasLayout and contain floats.

%clearfix {
    *zoom: 1;
}

%position-fixed {
  position: fixed;
  backface-visibility: hidden;
}

%visible-text {
  font-size: $main-font-size+px;
  line-height: #{$main-font-size*$main-line-height}px;
}

%ib-vam {
 display: inline-block;
 vertical-align: middle;
}

%ib-vat {
 display: inline-block;
 vertical-align: top;
}

%ib-vab {
 display: inline-block;
 vertical-align: bottom;
}


// website specific classes --------------

%white-bordered {
  border: 1px #dcdcdc solid;
  background-color: $white;
}





