@import "vars";

//*  $w = width; $h = height; $o = orientation [ t = top, r = right, b = bottom, l = left ]; $c = color; usage: @include triangle(5px,10px,r,#0f0); */
@mixin triangle($w,$h,$o,$c) {
  width: 0;
  height: 0;
  border-style: solid;
  @if $o == t {
    border-width: 0 $w/2 $h $w/2;
    border-color: transparent transparent $c transparent;
  }
  @if $o == r {
    border-width: $h/2 0 $h/2 $w;
    border-color: transparent transparent transparent $c;
  }
  @if $o == b {
    border-width: $h $w/2 0 $w/2;
    border-color: $c transparent transparent transparent;
  }
  @if $o == l {
    border-width: $h/2 $w $h/2 0;
    border-color: transparent $c transparent transparent;
  }
  -webkit-transform:rotate(360deg); //* [ better anti-aliasing in webkit browser, http://apps.eky.hk/css-triangle-generator/ ] */
}

// border-radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
        background-clip: padding-box;
}

// box-sizing
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

// opacity
@mixin opacity($trans) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  filter: alpha(opactiy=($trans * 100));
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}

// Transparent Background
// From: http://stackoverflow.com/questions/6902944/sass-mixin-for-background-transparency-back-to-ie8

// Extend this class to save bytes
%transparent-background {
  background-color: transparent;
  zoom: 1;
}

// The mixin
@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  @extend %transparent-background;
  background-color: $rgba;
  .lt-ie10.lt-ie9 & {
    @extend %transparent-background;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  }
}

// Loop through opacities from 90 to 10 on an alpha scale
@mixin transparent-shades($name, $color) {
  @each $alpha in 90, 80, 70, 60, 50, 40, 30, 20, 10 {
    .#{$name}-#{$alpha} {
      @include transparent($color, $alpha / 100);
    }
  }
}

// media queries
@mixin mq-min ($width, $ratio: 1) {
  @if $ratio > 1 {
    @if $width > 0 {
      @media only screen and (min-width: $width) and (-webkit-min-device-pixel-ratio: $ratio),
      only screen and (min-width: $width) and (min-resolution: #{$ratio * 96}dpi) {
        @content;
      }
    }
    @else {
      @media (-webkit-min-device-pixel-ratio: $ratio), (min-resolution: #{$ratio * 96}dpi) {
        @content;
      }
    }
  }
  @else {
    @media screen and (min-width: #{$width}px) {
      @content;
    }
  }
}

@mixin mq-hd {
  @media #{$high-density} {
    @content;
  }
}

// respond-to
@mixin respond-to($width, $ratio: 1) {
  @if $fix-mqs {
    @if $fix-mqs >= $width and $ratio == 1 {
      @content;
    }
  }
  @else {
    @include mq-min($width, $ratio) {
      @include mq-comment($width, $ratio);
      @content;
    }
  }
}

// Creates comment header for media queries
@mixin mq-comment ($width, $ratio) {
  // /* min-width:#{$width}px : #{$ratio}x */
}

// font-size
@mixin font-size($sizeValue: 12 ){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.125 * $sizeValue) + rem;
}

// line-height
@mixin line-height($heightValue: 12 ){
  line-height: $heightValue + px; //fallback for old browsers
  line-height: (0.125 * $heightValue) + rem;
}

// font-size and line-height
@mixin font-line($fs: $main-font-size,$lh: $main-line-height){
  font-size: $fs+px;
  line-height: #{$fs*$lh}px;
}
