//* === typography === */

$arial: "Helvetica Neue", Helvetica, Arial, sans-serif;
$code: monospace;

$main-font-size: 11;

$main-font-size-mobile: 9;
$main-font-size-mobile-large: 10;
$main-font-size-iphone5-land: 11;
$main-font-size-tablet: 15;
$main-font-size-desktop: 17;

$footer-link-font-size-mobile: 9;
$footer-link-font-size-mobile-large: 10;
$footer-link-font-size-iphone5-land: 11;
$footer-link-font-size-tablet: 13;
$footer-link-font-size-desktop: 13;

$footer-text-font-size-mobile: 7;
$footer-text-font-size-mobile-large: 8;
$footer-text-font-size-iphone5-land: 9;
$footer-text-font-size-tablet: 11;
$footer-text-font-size-desktop: 13;


$main-line-height: 1.23;

$code-font-size: 14;
$code-line-height: $main-line-height;

//* === mediaqueries === */

//  see more on
//  http://stephen.io/mediaqueries/
//  http://www.uidesignguide.com/2014/02/24/media-queries-to-target-iphone-3-iphone-4-iphone-5-ipad-2-3-4-in-portrait-phonegap-apps/

$desktop-large  : 1440;
$desktop-medium : 1200;
$desktop        : 1024;

$tablet         : 768;
$tablet-small   : 600;

$iphone5-land   : 568; // iPhone 5: landscape
$mobile-large   : 480; // iPhone 3,4: landscape
$mobile         : 320; // iPhone 3,4,5: portrait

$high-density   : "only screen and (min--moz-device-pixel-ratio: 1.5),
                   only screen and (-o-min-device-pixel-ratio: 3/2),
                   only screen and (-webkit-min-device-pixel-ratio: 1.5),
                   only screen and (min-resolution: 144dpi),
                   only screen and (min-resolution: 1.5dppx)";

// if false, the breakpoint label won't show
$dev : false;

// var used in some custom mixin (e.g. respond-to)
$fix-mqs: false !default;


/////////////////////////////
// general
/////////////////////////////

$min-width-tablet-portrait: 768;

$min-width-web: 960;
$min-width-fb: 810;
$min-width-mobile: 320;

$side-padding: 12;



$body-bg-color: #fff;

$general-bg-color: $body-bg-color;

$general-text-color: #000;
$general-link-color: #333;

$label-text-color: $general-text-color;
$input-text-color: #666;
$input-error-text-color: #f00;
$input-error-placeholder-color: #f00;
$input-error-message-color: $general-text-color;
$input-error-message-bgcolor: #f00;

$btn-like-fg-color: $general-text-color;
$btn-like-bg-color: #000;

$white      : #fff;
$black      : #000;
$gray       : #5c5c5c;
$light-gray : #c0c0c0;
$green      : #94c417;
$orange     : #db8a02;
$blue       : #1b6dab;
$red        : #aa0000;
$azure      : #0060a5;
