@import "classes";


// main styles ---------------------------
* { @include box-sizing(border-box) }
a {
  text-decoration: none;
  color: $general-link-color;
  &:hover {
    text-decoration: underline;
  }
}

// body ----------------------------------
body {}

// header --------------------------------
header[role=banner] {
  padding: $side-padding+px;
  @include font-line(0);
  img {
    @extend %ib-vab;
    padding-right: $side-padding*2+px;
    border-right: 1px $light-gray solid;
  }
  div {
    @include font-line(26);
    @extend %ib-vab;
    padding-left: $side-padding*2+px;
  }
}

// main ----------------------------------
main[role=main],
#main {
  margin: 0;
  padding: $side-padding+px;
  border-top: $side-padding/2+px $black solid;
  border-bottom: $side-padding/2+px $black solid;
}

.code-box-wr {
  margin-top: 2*$side-padding+px;
  margin-bottom: 3*$side-padding+px;
  padding-top: 3*$side-padding+px;
  border-top: $side-padding/4+px $black dotted;
  &:first-child {
    margin-top: $side-padding+px;
    padding-top: 0;
    border-top: none;
  }
  @include font-line(0);
  .code-box-title {
    margin: 0 0 $side-padding+px;
    padding: $side-padding+px;
    background-color: $black;
    color: $white;
    .date {
      @extend %ib-vam;
      padding-right: $side-padding+px;
      @include font-line(12);
      border-right: 1px $light-gray solid;
    }
    .description {
      @extend %ib-vam;
      padding-left: $side-padding+px;
      @include font-line(14);
    }
  }
  .code-box-parameters-wr {
    @extend %ib-vat;
    width: 100%;
    text-align: center;
  }
  .code-box-parameters {
    position: relative;
    @extend %ib-vat;
    width: 100%%;
    margin: 0;
    padding: 0;
    padding-bottom: $side-padding+px;
    text-align: left;
  }
  .code-box-inner-title {
    margin-bottom: $side-padding+px;
    padding-bottom: $side-padding/2+px;
    @include font-line(14);
    font-weight: bold;
    border-bottom: 1px $light-gray dashed;
    &[data-accordion=true] {
      cursor: pointer;
      &:after {
        content: 'click to show/hide settings';
        padding-left: $side-padding+px;
        @include font-line(12);
        font-weight: normal;
        color: $light-gray;
      }
    }
  }
  .parameters-list {
    display: none;
    list-style-type: none;
    margin: 0 0 $side-padding+px 0;
    padding: 0;
    li {
      strong {
        @extend %ib-vam;
        min-width: 160px;
        @include font-line(12);
      }
      span {
        @extend %ib-vam;
        margin-left: $side-padding*2+px;
        @include font-line(12);
        &:before {
          content: ":";
          position: relative;
          left: -$side-padding*0.5+px
        }
      }
      ins {
        @extend %ib-vam;
        margin-left: $side-padding/2+px;
        @include font-line(12);
        text-decoration: none;
        &:before {
          content: "#""{";
          position: relative;
          left: -$side-padding*0.5+px;
          color: $light-gray;
          @include font-line(12);
          font-weight: normal;
        }
        &:after {
          content: "}";
          position: relative;
          right: -$side-padding*0.5+px;
          color: $light-gray;
          @include font-line(12);
          font-weight: normal;
        }
      }
    }
  }
  .code-box-content {}
  .code-display {
    @extend %code;
    width: 100%;
    padding: $side-padding;
    white-space: pre-wrap;
    background-color: #f9f9f9;
    border: 1px $light-gray solid;
    @include border-radius(4px);
    &.correct { min-height: 250px; }
    &.error {
      min-height: 70px;
      color: $red;
    }
  }
}

// footer --------------------------------

footer[role=contentinfo] {
  padding: $side-padding+px;
  text-align: center;
  @include font-line(0);
  .footer-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      @extend %ib-vam;
      margin: 0;
      padding: 0;
      border-left: 1px $light-gray solid;
      &:first-child { border-left: none; }
      a {
        @extend %ib-vam;
        margin: 0;
        padding: 0 $side-padding/2+px;
        @include font-line(12);
        color: $gray;
      }
    }
  }
}

// responsive --------------------------------

@include respond-to($mobile-large){
  header[role=banner] {}
  main[role=main],
  #main {}
  footer[role=contentinfo] {}
}

@include respond-to($iphone5-land){
  header[role=banner] {}
  main[role=main],
  #main {}
  footer[role=contentinfo] {}
}

@include respond-to($tablet){
  header[role=banner] {}
  main[role=main],
  #main {}
  footer[role=contentinfo] {}
}

@include respond-to($desktop){
  header[role=banner] {}
  main[role=main],
  #main {
    .code-box-parameters {
      width: 32.5%;
      &:nth-child(2) {
        margin: 0 0.75%;
        padding: 0 0.75%;
        border-left: 1px $light-gray dashed;
        border-right: 1px $light-gray dashed;
      }
    }
  }
  footer[role=contentinfo] {}
}

.lt-ie10.lt-ie9 {
  header[role=banner] {}
  main[role=main],
  #main {}
  footer[role=contentinfo] {}
}
